:root {
   --whitesmoke:#F5F0F6;
   --eerieblack:#1C1D20;
   --grey:#C4C8D3;
   --ballblue:#2AB7CA;
   --spacecadet:#241E4E;
   --raspberry:#9E0031;
   --tangerine:#FAA916;
   --grape-light:#662AAF;
   --purple-dark:#330036;
   --gold: #FFC700;
   --steelblue: #4A7AB4;
   --ceil: #8FB2CE;
   --bubbles: #E5F8FF;
   --cerulean: #007BA7;
   --ghostwhite: #F9FDFF;
   --gunmetal: #2C363F;
   --vermilion: #D64933;
   --grape: #533A7B;
   --firebrick: #BA1C1A;
   --metallicseaweed: #028090;
   --richblack: #090821;
   --bdazzledblue: #26547C;
   --orangeyellow: #FFD166;
   --infrared: #EF476F;
   --caribbeangreen: #06D6A0;
   --jade: #00A86B;
   --slider1Left: #06D6A0;
   --slider1Right: #06D6A0;
   --slider2Left: #06D6A0;
   --slider2Right: #06D6A0;
   --slider3Left: #06D6A0;
   --slider3Right: #06D6A0;
   --rgbhslp: -100%;
   --leftGradient: var(--eerieblack);
   --rightGradient: var(--richblack);
}
@font-face {
    font-family: 'montserrat';
   src: url('resources/fonts/Montserrat-Regular.woff2') format('woff2'),
        url("resources/fonts/Montserrat-Regular.otf") format("opentype"),
        url('resources/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
   overflow: hidden;
   font-family: montserrat;
}

.colorSquare{
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   display: table;
   border-radius: 5px;
   text-align: center;
   -webkit-transition : -webkit-filter 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform-origin: center center;
   cursor: pointer;
}
.colorSquareText{
   display: table-cell;
   vertical-align: middle;
   color: var(--ghostwhite);
   /* font-size: 1.5em; */
   /* width: 100%; */
   opacity: 0.0;
   transition: all 0.3s ease-in-out;
   transform-origin: center center;
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}

.colorSquare:hover{
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   /* background-color: rgba(9,8,33, 0.5); */
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.98, 1.02);
  }
  50% {
    transform: scale(1.02, 0.98);
  }
  75% {
    transform: scale(0.99, 1.01);
  }
}

.colorSquare:hover > .colorSquareText{
   /* color: var(--ghostwhite); */
   opacity: 1.0;
   background-color: rgba(9,8,33, 0.5);
}


.selectedSquare{
   animation: jelly 0.3s;
}
.selectedSquare > .colorSquareText{
   /* color: var(--ghostwhite); */
   opacity: 1.0;
   background-color: rgba(9,8,33, 0.5);
}

.selectedSquareTab{
   /* background-color: var(--eerieblack); */
   border-left: 2px solid var(--ghostwhite);
   transition: all 0.3s ease-in-out;
   text-align: center;
   background: -moz-linear-gradient(left, var(--leftGradient), var(--rightGradient) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, var(--leftGradient)), color-stop(100%, var(--rightGradient)));
   background: -webkit-linear-gradient(left, var(--leftGradient) 0%, var(--rightGradient) 100%);
   background: -o-linear-gradient(left, var(--leftGradient) 0%, var(--rightGradient) 100%);
   background: -ms-linear-gradient(left, var(--leftGradient) 0%, var(--rightGradient) 100%);
   background: linear-gradient(to right, var(--leftGradient) 0%, var(--rightGradient) 100%);
   z-index: 1;
}

.slidersDiv{
   /* background-color: var(--ghostwhite); */
   background-color: transparent;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border: 3px solid var(--ghostwhite);
   border-radius: 10px;
   z-index: 1;

}

.currColorDiv{
   border-radius: 10px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   border: 3px solid var(--ghostwhite);
   display: table;
   text-align: center;
   z-index: 1;

}

#currColorText1W{
   display: table;
   vertical-align: top;
   height: 33%;
   width: 100%;
}
#currColorText2W{
   display: table;
   vertical-align: middle;
   height: 33%;
   width: 100%;
}
#currColorText3W{
   display: table;
   vertical-align: bottom;
   height: 33%;
   width: 100%;
}

.currColorText{
   display: table-cell;
   vertical-align: middle;
   cursor: copy;
}

/* .currColorText{
   display: table-cell;
   vertical-align: middle;
} */

.newColorDiv{
   border-radius: 10px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   border: 3px solid var(--ghostwhite);
   display: table;
   text-align: center;
   z-index: 1;

}

#newColorText1W{
   display: table;
   vertical-align: top;
   height: 33%;
   width: 100%;
}
#newColorText2W{
   display: table;
   vertical-align: middle;
   height: 33%;
   width: 100%;
}
#newColorText3W{
   display: table;
   vertical-align: bottom;
   height: 33%;
   width: 100%;
}

.newColorText{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   cursor: copy;
}

input[type=range]#slider1::-webkit-slider-runnable-track{
   background-image: -webkit-linear-gradient(left, var(--slider1Left), var(--slider1Right));
}
input[type=range]#slider2::-webkit-slider-runnable-track{
   background-image: -webkit-linear-gradient(left, var(--slider2Left), var(--slider2Right));
}
input[type=range]#slider3::-webkit-slider-runnable-track{
   background-image: -webkit-linear-gradient(left, var(--slider3Left), var(--slider3Right));
}

input[type=range].slider {
  -webkit-appearance: none;
  background-color: transparent;
  /* width: 90%; */
  /* margin: 4.85px 0; */
  transition: all 0.2s;
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  /* width: 90%; */
  height: 10.3px;
  cursor: pointer;
  background: #29142e;
  border-radius: 25px;
  border: 1px solid var(--ghostwhite);
}
input[type=range].slider::-webkit-slider-thumb {
  border: 1.2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.85px;
}
input[type=range].slider::-moz-range-track {
  /* width: 90%; */
  height: 10.3px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid var(--ghostwhite);
}
input[type=range].slider::-moz-range-thumb {
  border: 1.2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #transparent;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  /* width: 90%; */
  height: 10.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-thumb {
  border: 1.2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 10.3px;
}

.colorModeBtn{
   z-index: 1;
   background: transparent;
   border: 1px solid var(--cerulean);
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
}

.colorModeBtn::before{
   content: '';
   z-index: -1;
   position: absolute;
  width: 60%;
  height: 100%;
  background-color: var(--cerulean);
  transform-origin: center;
  transform: translate(-100%, 0%);
  transition: transform 0.2s ease-in-out;
}

.colorModeBtn:before {
  transform: translate(var(--rgbhslp), 0%);
}

.rgbhsltW{
   display: table;
}

.rgbhslt{
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
   color: var(--ghostwhite);
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   height: 100%;
}

.inputsDiv{
   /* border: 2px solid var(--ghostwhite); */
   z-index: 1;

}

input[type="text"]{
   box-sizing: border-box;
   background-color: transparent;
   border-radius: 5px;
   color: var(--ghostwhite);
   font-family: montserrat;
   text-align: center;
   transition: all 0.2s linear;
}

input[type="text"]:focus{
   outline: none;
   border-width: 3px !important;
}

#inp1{
   border: 1px solid var(--raspberry);
   z-index: 1;
   
}
#inp2{
   border: 1px solid var(--jade);
   z-index: 1;
   
}
#inp3{
   border: 1px solid var(--cerulean);
   z-index: 1;
   
}
#inp4{
   border: 1px solid var(--ghostwhite);
   z-index: 1;
   
}

.tabButton{
   border-radius: 20px;
   font-family: montserrat;
   color: var(--ghostwhite);
   border: 1px solid var(--ghostwhite);
   background-color: transparent;
   cursor: pointer;
   transition: all 0.15s ease-in-out;
   text-align: center;
   outline: none;
}

.tabButton:hover{
   border-color: var(--firebrick);
}

.swal-text{
   text-align: center;
}

#leftArrow{
   background: url('resources/images/arrow-left-circle.svg') no-repeat;
   border: none;
   background-size: contain;
   transition: all 0.3s ease-in-out;
   /* transition: background 0.2s; */
   outline: none;
   cursor: pointer;
}

#leftArrow:hover{
   background: url('resources/images/arrow-left-circle-highlight.svg') no-repeat;
   background-size: contain;
}

#rightArrow{
   background: url('resources/images/arrow-right-circle.svg') no-repeat;
   border: none;
   background-size: contain;
   transition: all 0.3s ease-in-out;
   /* transition: background 0.2s; */
   outline: none;
}

#rightArrow:hover{
   background: url('resources/images/arrow-right-circle-highlight.svg') no-repeat;
   background-size: contain;
}
