:root {
   --whitesmoke:#F5F0F6;
   --eerieblack:#1C1D20;
   --grey:#C4C8D3;
   --ballblue:#2AB7CA;
   --spacecadet:#241E4E;
   --raspberry:#9E0031;
   --tangerine:#FAA916;
   --grape-light:#662AAF;
   --purple-dark:#330036;
   --gold: #FFC700;
   --steelblue: #4A7AB4;
   --ceil: #8FB2CE;
   --bubbles: #E5F8FF;
   --cerulean: #007BA7;
   --ghostwhite: #F9FDFF;
   --gunmetal: #2C363F;
   --vermilion: #D64933;
   --grape: #533A7B;
   --firebrick: #BA1C1A;
   --metallicseaweed: #028090;
   --richblack: #090821;
   --bdazzledblue: #26547C;
   --orangeyellow: #FFD166;
   --infrared: #EF476F;
   --caribbeangreen: #06D6A0;
   --slider1Left: #06D6A0;
   --slider1Right: #06D6A0;
   --slider2Left: #06D6A0;
   --slider2Right: #06D6A0;
   --slider3Left: #06D6A0;
   --slider3Right: #06D6A0;
}
@font-face {
    font-family: 'montserrat';
    /* src: url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url("fonts/Montserrat-ExtraLight.otf") format("opentype"),
         url('fonts/montserrat-extralight-webfont.woff') format('woff'); */
   src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url("fonts/Montserrat-Regular.otf") format("opentype"),
        url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
   overflow: hidden;
   font-family: montserrat;
}

.colorSquare{
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   display: table;
   border-radius: 5px;
   text-align: center;
   -webkit-transition : -webkit-filter 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform-origin: center center;
   cursor: pointer;
}
.colorSquareText{
   display: table-cell;
   vertical-align: middle;
   color: var(--ghostwhite);
   /* font-size: 1.5em; */
   /* width: 100%; */
   opacity: 0.0;
   transition: all 0.3s ease-in-out;
   transform-origin: center center;
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}

.colorSquare:hover{
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   /* background-color: rgba(9,8,33, 0.5); */
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.98, 1.02);
  }
  50% {
    transform: scale(1.02, 0.98);
  }
  75% {
    transform: scale(0.99, 1.01);
  }
}

.colorSquare:hover > .colorSquareText{
   /* color: var(--ghostwhite); */
   opacity: 1.0;
   background-color: rgba(9,8,33, 0.5);
}


.selectedSquare{
   animation: jelly 0.3s;
}
.selectedSquare > .colorSquareText{
   /* color: var(--ghostwhite); */
   opacity: 1.0;
   background-color: rgba(9,8,33, 0.5);
}

.selectedSquareTab{
   background-color: transparent;
   transition: all 0.3s ease-in-out;
   border-radius: 5px;
   text-align: center;
}

.slidersDiv{
   background-color: var(--ghostwhite);
   /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   border: 3px solid var(--richblack); */
   border-radius: 10px;
}

.currColorDiv{
   border-radius: 10px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   border: 3px solid var(--ghostwhite);
   display: table;
   text-align: center;
}

#currColorText1W{
   display: table;
   vertical-align: top;
   height: 33%;
   width: 100%;
}
#currColorText2W{
   display: table;
   vertical-align: middle;
   height: 33%;
   width: 100%;
}
#currColorText3W{
   display: table;
   vertical-align: bottom;
   height: 33%;
   width: 100%;
}

#currColorText1{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   height: 100%;
}
#currColorText2{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
}
#currColorText3{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
}

/* .currColorText{
   display: table-cell;
   vertical-align: middle;
} */
.newColorDiv{
   border-radius: 10px;
   box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
   border: 3px solid var(--ghostwhite);
   display: table;
   text-align: center;
}

#newColorText1W{
   display: table;
   vertical-align: top;
   height: 33%;
   width: 100%;
}
#newColorText2W{
   display: table;
   vertical-align: middle;
   height: 33%;
   width: 100%;
}
#newColorText3W{
   display: table;
   vertical-align: bottom;
   height: 33%;
   width: 100%;
}

#newColorText1{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   height: 100%;
}
#newColorText2{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
}
#newColorText3{
   display: table-cell;
   vertical-align: middle;
   width: 100%;
}

/* .newColorText{
   display: table-cell;
   vertical-align: middle;
} */

input[type=range]#slider1::-webkit-slider-runnable-track{
   background-image: -webkit-linear-gradient(left, var(--slider1Left), var(--slider1Right));
}
input[type=range]#slider2::-webkit-slider-runnable-track{
   background-image: -webkit-linear-gradient(left, var(--slider2Left), var(--slider2Right));
}
input[type=range]#slider3::-webkit-slider-runnable-track{
   background-image: -webkit-linear-gradient(left, var(--slider3Left), var(--slider3Right));
}

input[type=range].slider {
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  margin: 4.85px 0;
  transition: all 0.2s;
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #29142e;
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1.2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.85px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #2f1735;

}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 10.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #29142e;
  border-radius: 25px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1.2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #transparent;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 10.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-thumb {
  border: 1.2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 10.3px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #29142e;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #2f1735;
}
